# .env.example
# Please don't forget to create the .env.local for your development
# The two files are already added to .gitignore

ANGULAR_PROJECT_NAME=sprindax_default_app
ANGULAR_WORK_DIR="/var/www/frontend"
DB_PASSWORD="Your Password"
ROOT_DB_PASSWORD="Your Root password"